<% layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow p-1 text-white" id="register">
        <div class="card-body">
          <h1 class="card-title m-3 text-center">Register</h1>
          <form action="/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" name="email" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" required autofocus>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
              <label for="vertifyPassword" class="form-label">Verify Password</label>
              <input type="password" class="form-control" id="vertifyPassword" name="verifiedPassword" required>
            </div>
            <div class="col-12 justify-content-end">
              <button class="btn btn-success btn-block mb-3 mt-3 w-100" type="submit">Sign up</button>
            </div>
            <p class="pb-0 mb-0">Already have an account? <a href="/login">Login instead</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/register.js"></script>